<h2>О проекте</h2>
<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <div class="row">
    <div class="col-md-6">
      <a class="twitter-timeline" data-height="400" href="https://twitter.com/IvanMale007?ref_src=twsrc%5Etfw">Tweets by IvanMale007</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-6">
        <div class="card-body shadow-sm p-3 mb-5 bg-white rounded">
          <div class="row">
            <div class="col-md-3">
            <%= image_tag "19_b6265e7a.jpg", class: "rounded-circle img-fluid" %>
            </div>
            <div class="col-md-9">
            <span>
            <h5>Ivan Male</h5>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
