<h2>Контакты</h2>
<div class="card shadow p-3 mb-5 bg-white rounded">
<div class="card-body">
<div class="row">
<p>Вы можете найти меня здесь:</p>
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Afec358295c9192b53e7ff944df201b461be86c0e348cb1d4e9c5c84067c4710f&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
</div>
</div>
</div>
